<!-- Page not found announcement-->
<div class="container-fluid">
    <div class="card" style="width: auto">
        <div class="card-body text-center overflow-hidden">
            <h4 class="card-title">Page not found (404 Error)</h4>
            <h6 class="card-subtitle text-muted">Here is a poor resolution integral instead</h6>
            <img class="card-img fitimage" src="/img/404.png">
        </div>
    </div>
</div>