<!-- Contact card -->
<div class="container-fluid">
    <div class="card" style="width: auto">
        <div class="card-body">
            <h4 class="card-title">Contact</h4>

            <h6 class="card-subtitle mb-2 text-muted">By Tutorial</h6>
            <span class="card-text">TUT11: Monday, 11-12pm(noon), at BV264</span><br>
            <span class="card-text">TUT10: Wednesday, 1-2pm, at MW262</span><br>
            <span class="card-text">TUT22: Thursday, 12-1pm, at IC120</span><br>
            <br>
            <br>

            <h6 class="card-subtitle mb-2 text-muted">By Office Hour</h6>
            <span class="card-text">Daniel's A33 OH: Thursday 1-3pm at IC404</span><br>
            <span class="card-text">In addition, you are welcome to see any MATA33 TA for help in IC404.</span><br>
            <span class="card-text">They will be sitting next to a blackboard with the course and office hour times written on it.</span><br>
            <br>
            <br>
            
            <h6 class="card-subtitle mb-2 text-muted">By Email</h6>
            <span class="card-text">I respond pretty quickly. With that being said, don't send me an email for everything.</span><br>
            <span class="card-text">In general, you should email me if it's a time sensitive issue that can't be asked at the next tutorial.</span><br>
            <span><a class="card-link"><img src="/img/email.png"></a></span><br>
            <span>*notice the double L in my email, someone stole the daniel.zhao :(</span><br>
            <br>
            <br>

            <h6 class="card-subtitle mb-2 text-muted">Anonymous Feedback</h6>
            <span class="card-text">If you have feedback for me, you can send anonymous feedback 
            <a class="bold" href="https://docs.google.com/forms/d/e/1FAIpQLSfK4Fde6p1s9D1W1J79VnEGTKxG99fZBPb6qu9NnmKQhrNGUA/viewform?usp=sf_link">here</a>
            \(ᵔᵕᵔ)/. Thanks in advance, these are really useful for me to reflect on how to improve the tutorials.
            </span><br>
            <br>
            <span class="card-text">I check these responses on a notification basis, and may briefly talk about it at the next demonstration tutorial.</span><br>
            <br>
            <br>
<!--
            <h6 class="card-subtitle mb-2 text-muted">About Me</h6>
            <span class="card-text">I'm an undergrad at UTSC studying statistics and computer science.</span><br>
            <span class="card-text">I previously interned as a software developer at the Ontario Ministry of Education, where I worked on an internal search engine.</span><br>
            <span class="card-text"></span><br>
            <br>
            <br>
-->
        </div>
    </div>
</div>

<br>
<br>