  <!-- Announcements -->
  <div class="container-fluid">
    <div class="card" style="width: auto">
        <div class="card-body">
          <h4 class="card-title">Announcements</h4>

          <h6 class="card-subtitle mb-2 text-muted">Tutorials / Office Hours for rest of term - Mar. 13</h6>
          <span class="card-text">-I won't be doing online tutorials, or providing online notes</span><br>
          <span class="card-text">-However, I will be providing online office hours, you can either email me, or we can voicechat/sharescreens on discord</span><br>
          <span class="card-text ml-2">-*note, these aren't official office hours, so I may retract this if I get super busy</span><br>
          <span>email: <a class="card-link"><img src="/img/email.png"></a></span><br>
          <span>discord: <a class="card-link"><img src="/img/discord.png"></a></span><br>
          
          <br>
          <br>

          <h6 class="card-subtitle mb-2 text-muted">Quiz 4 Solutions Uploaded - Mar. 16</h6>
          <br>
          <br>

          <h6 class="card-subtitle mb-2 text-muted">Website Status - Mar. 06</h6>
          <span class="card-text">-website will sleep from 2AM to 8AM to conserve server hours</span><br>
          <span class="card-text">-if you need to access the website during these hours, there will be a ~10 second delay for the server to boot up</span><br>
          <br>
          <br>

          <h6 class="card-subtitle mb-2 text-muted">Demo Tutorial #4 Notes Uploaded - Mar. 5</h6>
          <span class="card-text">-some small fixes were done on Mar. 6</span><br>
          <br>
          <br>


          <h6 class="card-subtitle mb-2 text-muted">Welcome to my MATA33 Tutorial Page - Jan. 6</h6>
          <span class="card-text">-You can find tutorial notes, quiz solutions on the navbar</span><br>
          <br>
          <br>
          
        </div>
    </div>
    </div>
  
    <br>
    <br>
