<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MATA33 Tutorial</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="/img/icon-hyperjoy.jpeg">

  <script src="/js/jquery.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  <!-- <script src="@fortawesome/fontawesome-free/js/all.js"></script> -->
</head>

<body>
  <br>

  <!-- Navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" style="border:1px solid rgba(0,0,0,.125);border-radius:.25rem">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/notes">Notes</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/quizzes">Quizzes</a>
            </li>
            
          </ul>
        </div>
  
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <br>
  <br>

  <!-- Body -->
  <div class="container">
    <%- body %>
  </div>

</body>
</html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128630008-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128630008-2');
</script>
