
	<!-- Class Notes Group-->
	<div class="container-fluid">
		<div class="card" style="width: auto">
			<div class="card-body">
				<h4 class="card-title">Class Notes</h4>
				<ul class="list-group">
					
					<li class="list-group-item">
						<a href="./files/notes/current/tutorial1.pdf">Tutorial #1 - Jan. 15</a>
						<br>
						<span>Contents: 7.1 - 7.2: Linear programming</span>
					</li>

					<li class="list-group-item">
						<a href="./files/notes/current/tutorial2.pdf">Tutorial #2 - Jan. 28</a>
						<br>
						<span>Contents: 6.1 - 6.5: Matrices, special types of matrices, matrix row reduction</span>
					</li>


					<li class="list-group-item">
						<a href="./files/notes/current/tutorial3.pdf">Tutorial #3 - Feb. 12</a>
						<br>
						<span>Contents: 6.1 - 6.5: Matrix invertibility & manipulation, calculating determinants, the geometric meaning of determinants, relationship between determinants and inverses</span>
					</li>


					<li class="list-group-item">
						<a href="./files/notes/current/tutorial4.pdf">Tutorial #4 - Mar. 4</a>
						<br>
						<span>Contents: stuff about multivariable calc</span>
					</li>
										<!-- 

					<li class="list-group-item">
						<a href="./files/notes/current/tutorial4.pdf">Tutorial #4 - Feb. 8</a>
						<br>
						<span>Contents: 6.1 - 6.5: Multivariable differentiation</span>
					</li>
					-->
					



				</ul>
			</div>
		</div>
	</div>